.demo-pricing {
	border: none;
	margin-top: 1%;
	margin-left: 36%;
	padding: 14px 14px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.demo-pricing:active {
	padding-top: 15px;
        margin-bottom: -1px;
}
.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.demo-pricing-1 {
	background-color: #3fb8e8;
	box-shadow: 3px 3px 3px 0px #3293ba;
}
.demo-pricing-1:hover {
	background-color: #1baae3;
}
.demo-pricing-1:active {
	box-shadow: 0px 1px 0px 0px #3293ba;
}

.input {
	margin-top: 5px;
	margin-left: 18%;
	background: white;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	color: #666;
	float: left;
	padding: 5px 10px;
	width: 200px;
	outline: none;
}
#items{

}
#box{
	opacity: .9;
	margin-top: 25%;
	margin-right: auto;
	margin-left: auto;
	background-color: #3399FF;
	border-radius: 25px;
	width: 300px;
	height: 230px;
}
#organizationBox{
	opacity: .9;
	margin-top: 25%;
	margin-right: auto;
	margin-left: auto;
	background-color: #3399FF;
	border-radius: 25px;
	width: 300px;
	height: 200px;
}
#boxText{
	text-align: center;
	color: white;
	font-size: 20px;
}