#infobox {
	background-color: #f96e5b;
	width: 62%;
	padding: 20px;
	margin-left: 1%;
	margin-top: 35px;
	height: 50px;
	float: left;
}
#buybox {
	background-color: #f96e5b;
	width: 25%;
	padding: 25px;
	height: 500px;
	margin-left: 10px;
	margin-top: 35px;
	margin-right: 3%;
	float: right;
}
.header{
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-family: 35px Tahoma, Helvetica, Arial, Sans-Serif;
	font-size: 30px;
	color:	#222;
	text-shadow: 3px 2px 3px #555;
}
.body{
	text-align: left;
	font-family: Times;
	color: #222;
	
}